*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #71b7e6, #9b59b6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box{
    height: 50px;
    width: 400px;
    background: lab(92.78% 0.75 -3.03 / 0.678);
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    color:rgb(37, 37, 37);
}

.input-box #password{
  width: 80%;
  height: 50px;
  padding: 20px 0px 20px 20px;
  border: none;
  outline: none;
  font-size: 20px;
  background: transparent;
}
.input-box p{
    position: absolute;
    top: 70px;
    left: 15px;
    font-size: 20px;
    color: #252525;
    pointer-events: none;

}

.input-box button{
    color: rgb(66, 6, 66);
    width: 35px;
    height: 35px;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: 16%;
    left: 85%;
}

.input-box button:hover{
    background: rgba(35, 24, 66, 0.418);
 
}